run = "uvicorn main:app --host 0.0.0.0 --port 5000"
modules = ["python-3.11"]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 5000"]

[nix]
channel = "stable-25_05"
packages = ["libxcrypt", "psmisc"]

[workflows]
runButton = "Install and Run"

[[workflows.workflow]]
name = "Run Flask App"
author = 41523520
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run FastAPI App"
author = 41523520
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 5000 --reload"

[[workflows.workflow]]
name = "Install and Run"
author = 41523520
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 5000 --reload"

[[ports]]
localPort = 5000
externalPort = 80
